<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>

</head>
<body class="bg-dark mx-3 text-white">
<nav  class="navbar navbar-expand-lg navbar-dark bg-nav-dark-light text-white mb-5 border-white border-bottom">
    <ul class="d-flex list-unstyled align-items-center m-2">
        <li><a class="text-decoration-none text-white mx-2" th:href="@{cards}">All cards</a></li>
        <li><a class="text-decoration-none text-white mx-2" th:href="@{cards/createCard}">Create card</a></li>
    </ul>
</nav>
<h1>MTG Cards</h1>

<div class="d-flex flex-wrap gap-3">
    <div th:each="c: ${cards}" class="card bg-dark border-white" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" th:text="${c.getName()}"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

</body>
</html>