<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style.css">

</head>
<body class="bg-dark mx-3 text-white">
<nav class="navbar navbar-expand-lg navbar-dark bg-nav-dark-light text-white mb-5 border-white border-bottom">
    <ul class="d-flex list-unstyled align-items-center m-2">
        <li><a class="text-decoration-none text-white mx-2" th:href="@{/cards}">All cards</a></li>
        <li><a class="text-decoration-none text-white mx-2" th:href="@{cards/createCard}">Create card</a></li>
    </ul>
</nav>
<h1>MTG Cards</h1>

<div class="d-flex flex-column justify-content-center m-5 gap-2">
    <div class="d-flex gap-1">
        <p>Name: </p>
        <p th:text="${card.getName()}"></p>
    </div>
    <div class="d-flex gap-1">
        <p>Colors: </p>
        <p th:text="${card.getColors()}"></p>
    </div>
    <div class="d-flex gap-1">
        <p>Rarity: </p>
        <p th:text="${card.getRarity()}"></p>
    </div>
    <div>
        <img class="img-size" th:src="${card.imageUri}" alt="Card image cap">
    </div>
    <div th:each="su: ${sellingUsersForCard}" class="card bg-dark border-white" style="width: 18rem;">
        <div class="card-body">
            <div th:text="${su.getUsername()}"></div>
        </div>
    </div>
</div>

</body>
</html>