<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>

</head>
<body class="bg-dark mx-3 text-white">
<nav  class="navbar navbar-expand-lg navbar-dark bg-nav-dark-light text-white mb-5 border-white border-bottom">
    <ul class="d-flex list-unstyled align-items-center m-2">
        <li><a class="text-decoration-none text-white mx-2" th:href="@{/cards}">All cards</a></li>
        <li><a class="text-decoration-none text-white mx-2" th:href="@{cards/createCard}">Create card</a></li>
    </ul>
</nav>
<h1>MTG Cards</h1>

<div class="d-flex justify-content-center m-5">
    <div th:text="${card.name}"></div>
    <div th:text="${card.cost}"></div>
</div>

</body>
</html>