<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="bg-dark text-white">
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="mx-3 mb-5">
    <div class="d-flex flex-column justify-content-center m-5 gap-3">
        <div class="d-flex gap-5">
            <img class="img-size w-25 h-50 rounded-5" th:src="${card.imageUri}" alt="Card image cap">
            <div class="d-flex flex-column justify-content-between w-100">
                <div>
                    <div class="d-flex gap-2 justify-content-start">
                        <h1 th:text="${card.getName()}"></h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <table class="table table-striped table-dark">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Quality</th>
                                <th scope="col">Buy</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c, i: ${cardForSalePage.getContent()} ">
                                <th scope="row" th:text="${i.count}"></th>
                                    <td th:text="${c.sellingUser.username}"></td>
                                <td th:text="${c.getCost()}"></td>
                                <td th:text="${c.getQuality()}"></td>
                                <td><a th:href="@{'../trade/buy/'+${c.getCardForSaleId()}}"
                                       class="btn btn-primary">Buy</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="">
                    <div>
                        <div class="d-flex flex-column gap-2 col-3" th:if="${toggle}">
                            <a class="btn btn-danger text-decoration-none text-white" th:href="@{/cards/} + ${card.cardId} + @{/watchdog}"> Add watchdog 🔔🐕</a>
                            <small>Notify you when new card is listed</small>

                        </div>
                        <div class="d-flex flex-column gap-2 col-3" th:if="${toggle == false}">
                            <a class="btn btn-danger text-decoration-none text-white" th:href="@{/cards/} + ${card.cardId} + @{/watchdog}"> Already watching 🐕👀</a>
                            <small>Remove watchdog</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-wrap gap-1 mt-5">
                    <nav aria-label="Pagination" th:if="${totalPages > 0}">
                        <ul class="pagination bg-dark text-white justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a th:replace="~{fragments/paging :: pagingCardDetail(1, '<<', 'First Page',${card.cardId})}"></a>
                            </li>
                            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a th:replace="~{fragments/paging :: pagingCardDetail(${(currentPage - 1)}, 'Prev', 'Previous Page',${card.cardId})}"></a>
                            </li>
                            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                <a th:replace="~{fragments/paging :: pagingCardDetail(${page}, ${page}, 'Page ' + ${page},${card.cardId})}"></a>
                            </li>
                            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a th:replace="~{fragments/paging :: pagingCardDetail(${currentPage + 1},'Next', 'Next Page', ${card.cardId})}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a th:replace="~{fragments/paging :: pagingCardDetail(${totalPages}, '>>', 'Last Page',  ${card.cardId})}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-center my-5">
            <table class="table border-white text-white w-50">
                <tbody>
                <tr>
                    <td>Card name</td>
                    <td class="card-title text-break" th:text="${card.name}"></td>
                </tr>
                <tr>
                    <td>Colors</td>
                    <td class="card-title text-break" th:text="${card.colors}"></td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td class="card-title text-break" th:text="${card.keywords}"></td>
                </tr>
                <tr>
                    <td>Foil</td>
                    <td class="card-title text-break" th:text="${card.foil}"></td>
                </tr>
                <tr>
                    <td>Artist</td>
                    <td class="card-title text-break" th:text="${card.artist}"></td>
                </tr>
                <tr>
                    <td>Frame</td>
                    <td class="card-title text-break" th:text="${card.frame}"></td>
                </tr>
                <tr>
                    <td>Full art</td>
                    <td class="card-title text-break" th:text="${card.fullArt}"></td>
                </tr>
                <tr>
                    <td>Power</td>
                    <td class="card-title text-break" th:text="${card.power}"></td>
                </tr>
                <tr>
                    <td>Toughness</td>
                    <td class="card-title text-break" th:text="${card.toughness}"></td>
                </tr>
                <tr>
                    <td>Rarity</td>
                    <td class="card-title text-break" th:text="${card.rarity}"></td>
                </tr>
                <tr>
                    <td>Set</td>
                    <td class="card-title text-break" th:text="${card.setS}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>