<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="bg-dark text-white d-flex flex-column justify-content-between vh-100">
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="mx-3">

    <div class="d-flex justify-content-center align-items-center flex-column w-100">
        <h1 class="m-3">Login</h1>
        <form th:action="@{/access/login}" method="post">
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Email address</label>
                <input type="email" id="form2Example1" class="form-control" name="email"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" name="password"/>
            </div>
            <div class="row mb-4">
                <div class="col d-flex gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </form>
        <ul class="list-unstyled">
            <li><a class="text-decoration-none text-white mx-2" th:href="@{/access/register}"><span class="me-3">Not a member? </span>Register</a></li>
        </ul>
<!--        Tohle nefunguje, ale to nadtím ano. Proč? To ví jen bůh-->
<!--        <div class="d-flex justify-content-center">-->
<!--          <a class="text-decoration-none text-white btn-info d-flex" th:href="@{/account/register}"><span class="me-3">Not a member? </span>Register</a>-->
<!--        </div>-->
    </div>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>