<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="bg-dark text-white  d-flex flex-column vh-100">
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="mx-3">
    <h1>Verify your account</h1>
    <div>
        <form method="post" th:action="@{/access/verify/} + ${key}">
            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-success text-white d-flex">VERIFY!</button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>