<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:fragment="paging(pageNum, label, tooltip)" class="page-link"
   th:href="@{'/cards?' + ${'cardName=' + f.cardName + '&'}
     + ${'artistName=' + f.artistName + '&'}
      + ${f.power != null ? 'power=' + f.power + '&' : 'power=&'}
      + ${f.toughness != null ? 'toughness=' + f.toughness + '&' : 'toughness=&'}
      + ${'R=' + f.r + '&'}
      + ${'B=' + f.b + '&'}
      + ${'W=' + f.w + '&'}
      + ${'G=' + f.g + '&'}
      + ${'U=' + f.u + '&'}
      + ${'frame=' + f.frame + '&'}
      + ${'set=' + f.set + '&'}
      + ${'keywords=' + f.keywords + '&'}
      + ${f.rarity != null ? 'rarity=' + f.rarity + '&' : 'rarity=&'}
      + 'page=' + ${pageNum} + '&size=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
<a th:fragment="pagingProfile(pageNum, label, tooltip, userId)" class="page-link"
   th:href="@{'/users/profile/'+${userId} + '?' + ${'cardName=' + f.cardName + '&'}
     + ${'artistName=' + f.artistName + '&'}
      + ${f.power != null ? 'power=' + f.power + '&' : 'power=&'}
      + ${f.toughness != null ? 'toughness=' + f.toughness + '&' : 'toughness=&'}
      + ${'R=' + f.r + '&'}
      + ${'B=' + f.b + '&'}
      + ${'W=' + f.w + '&'}
      + ${'G=' + f.g + '&'}
      + ${'U=' + f.u + '&'}
      + ${'frame=' + f.frame + '&'}
      + ${'set=' + f.set + '&'}
      + ${'keywords=' + f.keywords + '&'}
      + ${f.rarity != null ? 'rarity=' + f.rarity + '&' : 'rarity=&'}
      + 'page=' + ${pageNum} + '&size=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
<a th:fragment="pagingProfileSell(pageNum, label, tooltip, userId)" class="page-link"
   th:href="@{'/users/profile/'+${userId} + '/selling?' + ${'cardName=' + f.cardName + '&'}
     + ${'artistName=' + f.artistName + '&'}
      + ${f.power != null ? 'power=' + f.power + '&' : 'power=&'}
      + ${f.toughness != null ? 'toughness=' + f.toughness + '&' : 'toughness=&'}
      + ${'R=' + f.r + '&'}
      + ${'B=' + f.b + '&'}
      + ${'W=' + f.w + '&'}
      + ${'G=' + f.g + '&'}
      + ${'U=' + f.u + '&'}
      + ${'frame=' + f.frame + '&'}
      + ${'set=' + f.set + '&'}
      + ${'keywords=' + f.keywords + '&'}
      + ${f.rarity != null ? 'rarity=' + f.rarity + '&' : 'rarity=&'}
      + 'page=' + ${pageNum} + '&size=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
<a th:fragment="pagingUsers(pageNum, label, tooltip)" class="page-link"
   th:href="@{'/users/allUsers?' + ${'email=' + f.email + '&'}
     + ${'name=' + f.name + '&'}
      + 'page=' + ${pageNum} + '&size=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
<!--/cards/'/cards/'$%7BcardId%7D%20+%20'?%27%20+%20%20%20%20%20%20+%20%27page=%27%20+%20${pageNum}%20+%20%27&size=%27%20+%20${pageSize}-->
<a th:fragment="pagingCardDetail(pageNum, label, tooltip,  cardId)" class="page-link"
   th:href="@{'/cards/'+${cardId} + '?page=' + ${pageNum} + '&size=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
</body>
</html>