<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/randomNumber" method="post">

    <p th:if="${error}">špatná data
    <span th:text="${error}"></span></p>
    <label>Number 1</label>
    <input type="number" id="number1" th:field="${randomNumberDTO.number1}"/>

    <br>

    <label>Number 2</label>
    <input type="number" id="number2" th:field="${randomNumberDTO.number2}"/>
    <br>
    <input type="submit" value="Submit"/>
</form>
<br>
<h1 th:text="${randomNum}"></h1>

</body>
</html>