<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body class="bg-dark text-white d-flex flex-column justify-content-between vh-100">
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="mx-3">
    <div class="d-flex justify-content-center align-items-center flex-column w-100">
        <h1>Sell your card</h1>
        <div class="d-flex justify-content-center">
            <form th:action="@{'/trade/forSale/'+${cardId}}" method="post">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Cost in Kč</label>
                    <input type="number" min="0" id="form2Example2" class="form-control" name="cost"/>
                </div>
                <div class="form-outline mb-4">
                    <!--                <input type="text" id="form2Example3" class="form-control" name="quality"/>-->
                    <!--                <label class="form-label" for="form2Example3">Quality</label>-->
                    <label class="form-label" for="quality">Quality</label>
                    <select id="quality" class="form-select" th:name="quality">
                        <option value="Good">Good</option>
                        <option value="Brand new">Brand new</option>
                        <option value="Bad">Bad</option>
                        <option value="Unplayable">Unplayable</option>
                    </select>
                </div>
                <div class="row mb-4">
                    <div class="col d-flex gap-2">
                        <button type="submit" class="btn btn-primary btn-block">Put card on a market</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>